:root{ 
    --Neutral-900: hsl(227, 75%, 14%);
    --Neutral-800: hsl(226, 25%, 17%);
    --Neutral-700: hsl(225, 23%, 24%);
    --Neutral-600: hsl(226, 11%, 37%);
    --Neutral-300: hsl(0, 0%, 78%);
    --Neutral-200: hsl(217, 61%, 90%);
    --Neutral-100: hsl(0, 0%, 93%);
    --Neutral-0: hsl(200, 60%, 99%);
    
    --Red-400: hsl(3, 86%, 64%);
    --Red-500: hsl(3, 71%, 56%);
    --Red-700: hsl(3, 77%, 44%);
    
    
    --Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.cards{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.card{
    background-color: var(--Neutral-0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border-radius: 20px;
    height: 170px;
}

body.dark .card{
    background-color: var(--Neutral-800);
    border: 1px solid hsl(0, 0%, 78%, 0.5);
}

.about-card{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.card-heading{
    font-size: 22px;
    margin: 0;
    color: var(--Neutral-900);

}

body.dark .card-heading{
    color: var(--Neutral-0);
}

.card-p{
    margin: 0.5rem 0;
}

body.dark .card-p{
    color: var(--Neutral-300);
}

.card-changes{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remove-card-btn{
    width: auto;
    height: auto;
    padding: 0.75rem 1.25rem;
    border-radius: 30px;
    color: var(--Neutral-800);
    font-size: 16px;
    background-color: var(--Neutral-0);
    border: 1px solid hsl(0, 0%, 78%, 0.5);
    font-weight:600;
}

.remove-card-btn:hover{
    cursor: pointer;
}

body.dark .remove-card-btn:hover{
    background-color: var(--Red-400);
    color: var(--Neutral-800);
}

body.dark .remove-card-btn{
    color: var(--Neutral-100);
    background-color: var(--Neutral-800);
}

.remove-card-btn:active{
    border: 2px solid var(--Red-400);
}

body.dark .remove-card-btn:focus{
    border: 2px solid var(--Neutral-900);
    box-shadow: 0 0 0 2px var(--Red-500);
}


.toggle-switch {
    width: 50px;
    height: 28px;
    background-color: #ccc;
    border-radius: 999px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  body.dark .toggle-switch{
    background-color: var(--Neutral-600);
}
body.dark .toggle-switch:focus :active{
    border: 2px solid var(--Neutral-900);
    box-shadow: 0 0 0 2px var(--Red-500);
}
  
  .toggle-switch.on {
    background-color: var(--Red-400); 
  }

  body.dark .toggle-switch.on{
    background-color: var(--Red-400); 
}
  
  .toggle-circle {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
  }
  
  .toggle-switch.on .toggle-circle {
    left: 24px;
  }

@media (min-width:696px){
    .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
  