@use '../util/' as *;   

.toggle{
    display: grid;
    grid-template-columns: 1fr rem(48) 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: rem(4.8) rem(8);
    border: none;
    margin: 0;

    label{
        align-self: center;
        font-size: rem(14);
        font-weight: 700;
        color: var(--toggle);
        &[for='dark']{
            grid-column: 1/2;
            justify-self: end;
        }
        &[for='system']{
            grid-column: 1/4;
            grid-row: 2/3;
            justify-self: center;
            align-self: start;
        }
        &[for='light']{
            grid-column: 3/4;
        }
    }
    
    input[type='radio']{
        opacity: 0;
        margin: 0 rem(-2);
        width: rem(24);
        height: rem(24);
        &:focus ~ .toggle__button{
            border: rem(2) white solid;
        }
    }
    
    
    &__background{
        display: block;
        background: var(--toggle-bg);
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        border-radius: rem(12);
        overflow: hidden;
        pointer-events: none;
    }
    
    &__wrapper{
        height: rem(24);
        grid-column: 2/3;
        grid-row: 1/2;
        position: relative;
    }
    &__button{
        position: absolute;
        left: rem(3);
        top: rem(3);
        right: 100%;
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: var(--toggle-button);
        transition: all 150ms ease-in-out;
    }
    
    #light:checked ~ .toggle__button{
        left: calc(100% - 21px);
        right: rem(3);
    }

    #system:checked ~ .toggle__button{
        left: 50%;
        right: auto;
        transform: translate(-50%);
    }
}


